.categoryItemList {
    text-transform: capitalize;
    background-color: rgb(45, 170, 225);
    padding: 1em;
    border-radius: 5px;
    color: white;
}

.categoryItemList:hover h2 {
    background-color: rgb(252, 220, 36);
}
